@CHARSET "UTF-8";

html {
    overflow-y: scroll;
}

body {
	font-family: Verdana;
}

.helloUser {
	font-size: 15px;
	text-align: right;
	padding: 2px 15px 0px 0px;
}

.lastNotes {
	font-size: 20px;
	padding: 25px 15px 0px 15px;
}

.title {
	background: #5484A4;
	color: white;
	letter-spacing: 2px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    padding: 5px 5px 5px 10px;
}

.noteBody {
	padding: 0px 10px 5px 10px;
	text-align: justify;
}

.noteBodyBottom {
	font-style: italic;
	background-color: #f2f2f2;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.bodyText {
	padding: 5px 10px 5px 10px;
}

.bodyBottomText {
	text-align: right;
	padding: 5px 10px 5px 10px;
}

.navbar {
     margin-bottom: 0;
     background-color: #5484A4;
     z-index: 9999;
     border: 0;
     font-size: 12px !important;
     line-height: 1.42857143 !important;
     letter-spacing: 2px;
     border-radius: 0;
     border-bottom-left-radius: 10px;
	 border-bottom-right-radius: 10px;
 }
 
 .navbar li a, .navbar .navbar-brand {
     color: #fff !important;
 }
 
 .navbar-nav li a:hover, .navbar-nav li.active a {
     color: #f4511e !important;
     background-color: #fff !important;
 }
 
 .navbar-default .navbar-toggle {
     border-color: transparent;
     color: #fff !important;
 }
 
.footer {
	 text-align: center;
	 color: white;
	 background-color: #5484A4;
	 border-radius: 0;
     border-top-left-radius: 10px;
	 border-top-right-radius: 10px;
	 padding: 10px 10px 10px 10px;

 }
 
.buttonLogin {
    display: table;
  	margin: auto;
	border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #f4511e;
    border-radius: 5px;
 }
 
.buttonLogin:hover {
    background-color: #f4511e;
    color: white;
}

.loginFault {
	display: table;
  	margin: auto;
  	padding-top: 10px;
}

.loginContainer {
	 padding-bottom: 20px;
}