<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout :: site-head">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
	<title>Sticky Notes</title>
</head>
<body>
	<div class="container">
	<header th:replace="layout :: site-header" />
		<div class="header">
			<div class="row">
				<div class="col-sm-6">
					<div class="lastNotes">
						Your last notes:
					</div>
				</div>
				<div class="col-sm-6">
					<div class="helloUser" th:inline="text" sec:authorize="isAuthenticated()">
						You are logged as: 
						<b>[[${#httpServletRequest.remoteUser}]]</b>
					</div>
					<div class="helloUser" th:inline="text" sec:authorize="isAnonymous()">
						Hello,
						<b>anonymous</b>
					</div>
				</div>
			</div>
			<hr>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div th:each="p : ${listOfNotes}">
					<div class="title">
						<span th:text="${p.title}"></span>
					</div>
					<div class="noteBody">
						<div class="noteBodyBottom">
							<div class="bodyText">
								<p th:text="${p.body}"></p>
							</div>
							<div class="bodyBottomText">
								<span th:text="${p.author.username}+ ','" ></span>
								<span> note id:</span>
								<span th:text="${p.id}+ ','"></span>
								<span> created: </span>
								<span th:text="${#dates.format(p.date, 'dd.MM.yyyy')}+ ','"></span>
								<span> done? </span>
								<span th:if="${p.isDone()} == false">	<span class="glyphicon glyphicon-remove"></span>	</span>
								<span th:if="${p.isDone()} == true">	<span class="glyphicon glyphicon-ok"></span>	</span>
							</div>
						</div>
					</div>
					<br>
				</div>
			</div>
		</div>
		<div class="footer">
			<footer th:replace="layout :: site-footer" />
		</div>
	</div>
</body>
</html>





